<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Suggested Funds</title>
  </head>
  <body>
    <h1>Suggested Funds</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Fund Code</th>
          <th>Suggested Fund Code</th>
        </tr>
      </thead>
      <!-- <tbody>
        {% for code, suggested_code in suggested_funds.items() %}
        <tr>
          <td>{{ code }}</td>
          <td>{{ suggested_code }}</td>
        </tr>
        {% endfor %}
      </tbody> -->
    </table>
  </body>
</html>
